<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shu.wechat.mapper.AttrHistoryMapper">
  <resultMap id="BaseResultMap" type="cn.shu.wechat.beans.AttrHistory">
    <!--@mbg.generated-->
    <!--@Table attr_history-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="NickName" jdbcType="VARCHAR" property="nickname" />
    <result column="Attr" jdbcType="VARCHAR" property="attr" />
    <result column="RemarkName" jdbcType="VARCHAR" property="remarkname" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="NewVal" jdbcType="VARCHAR" property="newval" />
    <result column="OldVal" jdbcType="VARCHAR" property="oldval" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, UserName, NickName, Attr, RemarkName, CreateTime, NewVal, OldVal
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from attr_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from attr_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.shu.wechat.beans.AttrHistory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into attr_history (UserName, NickName, Attr, 
      RemarkName, CreateTime, NewVal, 
      OldVal)
    values (#{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{attr,jdbcType=VARCHAR}, 
      #{remarkname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{newval,jdbcType=VARCHAR}, 
      #{oldval,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.shu.wechat.beans.AttrHistory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into attr_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        UserName,
      </if>
      <if test="nickname != null">
        NickName,
      </if>
      <if test="attr != null">
        Attr,
      </if>
      <if test="remarkname != null">
        RemarkName,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="newval != null">
        NewVal,
      </if>
      <if test="oldval != null">
        OldVal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="attr != null">
        #{attr,jdbcType=VARCHAR},
      </if>
      <if test="remarkname != null">
        #{remarkname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="newval != null">
        #{newval,jdbcType=VARCHAR},
      </if>
      <if test="oldval != null">
        #{oldval,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.shu.wechat.beans.AttrHistory">
    <!--@mbg.generated-->
    update attr_history
    <set>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        NickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="attr != null">
        Attr = #{attr,jdbcType=VARCHAR},
      </if>
      <if test="remarkname != null">
        RemarkName = #{remarkname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="newval != null">
        NewVal = #{newval,jdbcType=VARCHAR},
      </if>
      <if test="oldval != null">
        OldVal = #{oldval,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.shu.wechat.beans.AttrHistory">
    <!--@mbg.generated-->
    update attr_history
    set UserName = #{username,jdbcType=VARCHAR},
      NickName = #{nickname,jdbcType=VARCHAR},
      Attr = #{attr,jdbcType=VARCHAR},
      RemarkName = #{remarkname,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      NewVal = #{newval,jdbcType=VARCHAR},
      OldVal = #{oldval,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update attr_history
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="UserName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.username,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="NickName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.nickname,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="Attr = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.attr,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="RemarkName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.remarkname,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="CreateTime = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.createtime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="NewVal = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.newval,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="OldVal = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.oldval,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into attr_history
    (UserName, NickName, Attr, RemarkName, CreateTime, NewVal, OldVal)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.username,jdbcType=VARCHAR}, #{item.nickname,jdbcType=VARCHAR}, #{item.attr,jdbcType=VARCHAR}, 
        #{item.remarkname,jdbcType=VARCHAR}, #{item.createtime,jdbcType=TIMESTAMP}, #{item.newval,jdbcType=VARCHAR}, 
        #{item.oldval,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="cn.shu.wechat.beans.AttrHistory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into attr_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      UserName,
      NickName,
      Attr,
      RemarkName,
      CreateTime,
      NewVal,
      OldVal,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      #{username,jdbcType=VARCHAR},
      #{nickname,jdbcType=VARCHAR},
      #{attr,jdbcType=VARCHAR},
      #{remarkname,jdbcType=VARCHAR},
      #{createtime,jdbcType=TIMESTAMP},
      #{newval,jdbcType=VARCHAR},
      #{oldval,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      UserName = #{username,jdbcType=VARCHAR},
      NickName = #{nickname,jdbcType=VARCHAR},
      Attr = #{attr,jdbcType=VARCHAR},
      RemarkName = #{remarkname,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      NewVal = #{newval,jdbcType=VARCHAR},
      OldVal = #{oldval,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="cn.shu.wechat.beans.AttrHistory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into attr_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        UserName,
      </if>
      <if test="nickname != null">
        NickName,
      </if>
      <if test="attr != null">
        Attr,
      </if>
      <if test="remarkname != null">
        RemarkName,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="newval != null">
        NewVal,
      </if>
      <if test="oldval != null">
        OldVal,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="attr != null">
        #{attr,jdbcType=VARCHAR},
      </if>
      <if test="remarkname != null">
        #{remarkname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="newval != null">
        #{newval,jdbcType=VARCHAR},
      </if>
      <if test="oldval != null">
        #{oldval,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        NickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="attr != null">
        Attr = #{attr,jdbcType=VARCHAR},
      </if>
      <if test="remarkname != null">
        RemarkName = #{remarkname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="newval != null">
        NewVal = #{newval,jdbcType=VARCHAR},
      </if>
      <if test="oldval != null">
        OldVal = #{oldval,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>